@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="center-container">

    <div class = "Dataview">
        <button onclick = Insertshow();   id = "Insertbutton"  >Insert</button>
        <div>
            @using (Html.BeginForm("OnPost", "IndexModel",FormMethod.Post ))
            {
                
                <div id="Inputlijst">
                <p >Lijst naam</p>
                @Html.TextBoxFor(m => m.Lijst)
                <p><input type="submit" value="SubmitLijst" name="Testlijst" runat = "server" id = "Insertsub"/>Add</p>

                </div>
            }
        </div>
@*        <button onclick = Deleteshow();   id = "Insertbutton"  >Delete</button>
        <button onclick = Updateshow();   id = "Insertbutton"  >Update</button>*@
    </div>



    <div class = "Inputuserinsert">

        <div id = "Inputuserinserttext">
     @using (Html.BeginForm("OnPost", "IndexModel",FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Planning details toevoeggen</th>
            </tr>
            <tr>
                <td>Taak</td>
                <td>
                    @Html.TextBoxFor(m => m.Naaminput)
                </td>
            </tr>
                <tr>
                <td>Lijst</td>
                <td>
                    @Html.TextBoxFor(m => m.Lijstinput)
                </td>
            </tr>
            <tr>
                <td>Beschrijving </td>
                <td>
                    @Html.TextBoxFor(m => m.Beschrijvinginput)
                </td>
            </tr>
            <tr>
                <td>Status </td>
                <td>
                    @Html.DropDownListFor(m => m.Statusinput, new List<SelectListItem>
                   { new SelectListItem{Text="Klaar", Value="Klaar"},
                     new SelectListItem{Text="Bezig", Value="Bezig"}}, "select")
                </td>
            </tr>
            <tr>
                <td>Duur</td>
                <td>
                    @Html.TextBoxFor(m => m.Duurinput)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SubmitInsert" runat = "server" id = "Insertsub" /></td>
               
            </tr>
        </table>
        }
        </div>
      </div>
      
</div>
        <div class = "Bezightml">
        


@*        @{ 


                                <h2>Bezig</h2>
        foreach (var item in Model.Bezig)
        {
                                    <p>Taak @{@item.Naam}</p>
                                    <p>Beschrijving@{@item.Beschrijving}</p>
                                    <p>Duur @{@item.Duur}</p>
                                    <p>Status @{@item.Status}</p>
                                    <button> </button>
                                    <button> </button>
                                    <p>-------------------</p>
        }

        }*@
        </div>
        





        @*<div id = "InputuserDeletetext">
            @using (Html.BeginForm("OnPost", "IndexModel", new { Delete = true }, FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Planning details verwijderen </th>
            </tr>
            <tr>
                <td>Id: </td>
                <td>
                    @Html.TextBoxFor(m => m.Idinput)
                </td>
                <td><input type="submit" value="SubmitDelete" runat = "server" id = "deletesub"/></td>
            </tr>
        </table>    
    }
      </div> *@

         
    }
@*      </div> 
 
 <div id = "InputuserUpdatetext">
     @using (Html.BeginForm("OnPost","IndexModel", new { Update = true },FormMethod.Post))
     {
             <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Planning details Update </th>
            </tr>
            <tr>
                <td>Id: </td>
                <td>
                    @Html.TextBoxFor(m => m.Idinput)
                </td>
                <td>
                    Naam: 
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Naaminput)
                </td>
            </tr>
            <tr>
                <td>Beschrijving </td>
                <td>
                    @Html.TextBoxFor(m => m.Beschrijvinginput)
                </td>
            </tr>
            <tr>
                <td>Status </td>
                <td>
                    @Html.DropDownListFor(m => m.Statusinput, new List<SelectListItem>
                   { new SelectListItem{Text="Klaar", Value="Klaar"},
                     new SelectListItem{Text="Bezig", Value="Bezig"}}, "select")
                </td>
            </tr>
            <tr>
                <td>Duur</td>
                <td>
                    @Html.TextBoxFor(m => m.Duurinput)
                </td>
                <td><input type="submit" value="SubmitUpdate" runat = "server" id = "updatesub"/></td>
            </tr>
        </table>    
     }
        </div>*@

   