@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="center-container">

    <div class = "Dataview">
        <button onclick = Insertshow();   id = "Insertbutton"  >Insert</button>
                <button onclick = Deleteshow();   id = "Insertbutton"  >Delete</button>
        @*        <button onclick = Updateshow();   id = "Insertbutton"  >Update</button>*@
        
        @{

            for (int i = 0; i < Model.BezigCount; i++  )
            {
                
            }
        }

    </div>



    <div class = "Inputuserinsert">

        <div id = "Inputuserinserttext">
            @using (Html.BeginForm("OnPost", "IndexModel", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Planning details toevoeggen </th>
            </tr>
            <tr>
                <td>Naam: </td>
                <td>
                    @Html.TextBoxFor(m => m.Naaminput)
                </td>
            </tr>
            <tr>
                <td>Beschrijving </td>
                <td>
                    @Html.TextBoxFor(m => m.Beschrijvinginput)
                </td>
            </tr>
            <tr>
                <td>Status </td>
                <td>
                    @Html.DropDownListFor(m => m.Statusinput, new List<SelectListItem>
                   { new SelectListItem{Text="Klaar", Value="Klaar"},
                     new SelectListItem{Text="Bezig", Value="Bezig"}}, "select")
                </td>
            </tr>
            <tr>
                <td>Duur</td>
                <td>
                    @Html.TextBoxFor(m => m.Duurinput)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SubmitInsert" runat = "server" id = "Insertsub" /></td>
               
            </tr>
        </table>
     <div id = "InputuserDeletetext">
            @using (Html.BeginForm("OnPost", "IndexModel", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Planning details verwijderen </th>
            </tr>
            <tr>
                <td>Naam: </td>
                <td>
                    @Html.TextBoxFor(m => m.Idinput)
                </td>
                <td><input type="submit" value="SubmitDelete" runat = "server" id = "deletesub"/></td>
            </tr>
        </table>    
    }
      </div> 

         
    }
      </div> 
    </div>

      
</div>
        <div class = "Bezightml">
        @{ 
        <h2>Bezig</h2>
        foreach (var item in Model.Bezig)
        {
            <p>Naam @{@item.Naam}</p>
            <p>Beschrijving@{@item.Beschrijving}</p>
            <p>Duur @{@item.Duur}</p>
            <p>Status @{@item.Status}</p>
        }

        }
        </div>
        <div class = "Klaarhtml">
        @{
            <h2>Klaar</h2>
            foreach (var item in Model.Klaar)
            {
                <p>Naam @{@item.Naam}</p>
                <p>Beschrijving@{@item.Beschrijving}</p>
                <p>Duur @{@item.Duur}</p>
                <p>Status @{@item.Status}</p>
                <P>Id @{@item.Id}</P>                     
            }
        }
        </div>







   